<head>
  <meta charset="UTF-8">
  <meta name="description" content="Gentle visual & auditory stimulation">
  <meta name="keywords" content="ambient,gentle,generative,calming">
  <meta name="author" content="Ross Hudson">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/stylesheet.css">

  <!-- Colourscape -->
  <link rel="stylesheet" type="text/css" href="/css/colourscape/main.css">
  <script src="/js/colourscape/main.js" async></script>

  <!-- Soundscape -->
  <script src="/js/soundscape/tunings.js" async></script>
  <script src="/js/soundscape/main.js" async></script>

  <script src="/js/init.js" async></script>

  {{ if .Title }}
    <title>{{ .Title }} | Imaginary Landscapes</title>
  {{ else }}
    <title>Imaginary Landscapes</title>
  {{ end }}
</head>
