@font-face {
  font-family: "Ubuntu Mono";
  src: url("/fonts/Ubuntu Mono derivative Powerline.ttf");
}

body {
  font-family: "Ubuntu Mono", monospace;
  background-color: #772953;
  color: white;
}

.central-column {
  width: 40%;
  padding: 10px;
  margin: auto;
}

@media only screen and (max-width: 768px) {
  .central-column {
    width: 95%;
  }
}

a {
  color: lightblue;
  text-decoration: none;
}

.plain-link, .plain-link:hover {
  color: white;
}

img {
  width: 100%;
  height: auto;
}

a:hover {
  text-decoration: underline;
}

.fancySelect {
  display: block;
  width: 100%;
  margin: auto;
  border: none;
  padding: 14px;
  border-radius: 5px;
  background-color: white;
  font-family: "Ubuntu Mono", monospace;
  font-size: 1rem;
}

.btn {
  border: none;
  padding: 14px;
  border-radius: 5px;
  background-color: white;
  font-family: "Ubuntu Mono", monospace;
  font-size: 1rem;
}

.btn:hover {
  background-color: #4e2039;
  cursor: pointer;
  color: white;
}

.btn-block {
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 100%;
  display: block;
}

@media only screen and (max-width: 768px) {
  .btn-block {
    width: 100%;
  }
}

.container {
  padding: 0.5rem 2.5rem 0.5rem 2.5rem;
}

#youtubeVid {
  width: 100%;
  height: auto;
  min-height: 45vh;
}

#settingsMenu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: none;
  width: 90vw;
  height: 90vh;
  opacity: 0.95;
  margin: auto;
  background-color: #efefef;
  z-index: 9999;
  border-radius: 7.5px;
}

#settingsMenu h1, #settingsMenu h2, #settingsMenu h3, #settingsMenu p {
  color: #333;
}

.footer {
  border-top: 1px solid white;
  margin-top: 50px;
  padding-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}
