{{ define "main" }}

{{ .Content }}

<small>
  Note: this has only been tested with current Chromium/Chrome and Firefox.
  Some mobile devices and older computers may also experience issues with
  playing multiple audio sources at once.
</small>

<button id="initApp" type="submit" class="btn btn-block">Start</button>

<div class="footer">
  View source on <a href="https://github.com/honeypieio/imaginary-landscapes">Github</a>
</div>

<script>
  document.getElementById("initApp").addEventListener("click", function() {
    document.body.innerHTML = "";
    document.body.style.overflow = "hidden";
    var sceneDiv = document.createElement("div");
    sceneDiv.id = "scene";
    document.body.appendChild(sceneDiv);
    setTimeout(function() {
      init();
    }, 10);
  });
</script>

{{ end }}
